<div class="divcontainer">
    <div class="card" style="width: 16rem;">
        <img [src]="flag" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{name}}</h5>
          <h6 class="card-title"><b>Capital : </b> {{capital}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" (click)="popula()">alert</a>
        
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Population 
          </button>

          <span  style="margin: 5px;padding: 5px;">: {{population}}</span>
          

          
            </div>
          </div>
        </div>
     

